
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inicio</title>
	
	{% if data.Color == "Blanco" %}

		<link href="{% static 'Principal/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/sb-admin.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/plugins/morris.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'Principal/js/jquery.js' %}"></script>
		<script src="{% static 'Principal/js/bootstrap.min.js' %}"></script>
	
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/local.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/jquery-1.10.2.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/bootstrap/js/bootstrap.min.js'%}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/all.min.css'%}" />
		<link id="gridcss" rel="stylesheet" type="{% static 'Principal/css/all.min2.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/shieldui-all.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/js/gridData.js'%}"></script>
	{% endif %}
	
</head>
<body>
    <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GRCPR</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li class="selected"><a href="index.html"><i class="fa fa-bullseye"></i> Inicio</a></li>
                    <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Tutoriales</a></li>
					<li><a href="profile.html"><i class="fa fa-tasks"></i> Perfil</a></li>
                    <li><a href="problemas.html"><i class="fa fa-globe"></i> Problemas</a></li>
                    <li><a href="Recomendaciones.html"><i class="fa fa-list-ul"></i> Recomendaciones</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
					<li class="divider-vertical"></li>
					{% if data.Nickname != "Invitado" %}
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{data.Nickname}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="profile.html"><i class="fa fa-user"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="logout"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
					{% else %}
                    <li><a href="register.html"><i class="fa fa-user"></i> {{data.Nickname}}</a></li>
					{% endif %}
					{% if data.Nickname == "Invitado" %}
					<li class="divider-vertical"></li>
					<li><a href="register.html"><i class="fa fa-user"></i> Registrarse</a></li>
					<li class="divider-vertical"></li>
					<li><a href="signup.html"><i class="fa fa-user"></i> Login</a></li>
					{% endif %}
					<li class="divider-vertical"></li>
					 <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Fondo<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="/Principal/Blanco"><i class="fa fa-user"></i>Blanco</a></li>
                            <li><a href="/Principal/Negro"><i class="fa fa-user"></i>Negro</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <h1>Guia de usuario</h1>
			<p>Bienvenidos a nuestra aplicación web que forma parte de nuestro trabajo especial de grado, se trata de un recomendador de problemas para programación competitiva. La aplicación utiliza información de las cuentas en páginas de Jueces de programación competitiva para así extraer los problemas que se han resuelto en dichas páginas. Una vez se tiene esta información se usa para recomendar problemas a los usuarios en base a sus necesidades o basado en usuarios que sean parecidos. A continuación se hace una breve explicación sobre sus funcionalidades: </p>
			<h3>Perfil de Usuario</h3>
			<p>En el perfil de usuario se muestra toda la información del usuario, entre ellos están sus datos personales, sus cuentas de jueces externos, su nivel de habilidad en las distintas técnicas de programación competitiva y los problemas resueltos en los jueces proporcionados. Además de esto se pueden ejecutar ciertas funciones como  actualizar las cuentas, actualizar la lista de problemas resueltos y solicitar recomendaciones  generales para el usuario, también da acceso al menú para clasificar problemas. </p>
			<h3>Menú de Problemas</h3>
			<p>Este menú simplemente permite visualizar los problemas almacenados en nuestra base de datos ajustándolos con distintos parámetros, esto no son problemas recomendados, simplemente sirve por ejemplo, para buscar algún problema con alguna categoría o dificultad especifica. </p>
			<h3>Tutoriales</h3>
			<p>Aquí se presenta una lista de tutoriales externos sobre programación competitiva. Más Adelante se podrán filtrar por filtrar por idioma y Categoría</p>
			<h3>Recomendaciones</h3>
			<A name="Rec"></A>
			<p>En este menú se pueden solicitar recomendaciones de una manera mas específica y con distintos métodos </p>
				<h4>Basadas en contenido</h4>
				<p>Estas recomendaciones están enfocadas totalmente en el usuario, es decir se basan en tus habilidades sin tomar en cuenta los demás usuarios, los problemas se dan de acuerdo a una categoría y tu nivel de habilidad en dicha categoría. </p>
				<h4>Colaborativas</h4>
				<p>Para estas recomendaciones se buscan usuarios que sean similares a usted, en base a estos usuarios se buscan problemas que ellos ya hayan resuelto y usted no. Las opciones a elegir representan funciones de distancia para poder comparar a los usuarios</p>
				<h4>Algoritmo Apriori</h4>
				<p>Con este algoritmo podemos ver los problemas mas frecuentes resueltos por multitud de usuarios, es decir aquellos problemas "populares" que casi todos los usuarios resuelven. Los valores de Soporte y Confianza, se podrian ver como el nivel de "popularidad" de los problemas, mientras mas bajo mas problemas menos populares encontraremos, si es muy alto es probable que no hayan problemas los suficientemente "populares" </p>
			
			<h3>Clasificación</h3>
			<p>Nos da acceso al menú de problemas sin clasificar (ubicado en el perfil) esta acción nos ayudara a mejorar los datos para que las recomendaciones funcionen mucho mejor. Permite asignar dificultad y clasificar la categoría del problemas, Colocando hasta 3 categorías. </p>
			<h1>Notas</h1>
			<p>Para el uso de las opciones: Perfil de usuario, Clasificación y Recomendaciones se requiere registrarse.</p>
			<p>Para cualquier duda, sugerencia o crítica háznoslos saber en los siguientes correos electrónicos: germanblandin18@gmail.com y rockavenger3011@gmail.com. </p>
		</div>
    </div>

</body>
</html>
