
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problemas</title>

	{% if data.Color == "Blanco" %}

		<link href="{% static 'Principal/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/sb-admin.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/plugins/morris.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'Principal/js/jquery.js' %}"></script>
		<script src="{% static 'Principal/js/bootstrap.min.js' %}"></script>
	
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/local.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/jquery-1.10.2.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/bootstrap/js/bootstrap.min.js'%}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/all.min.css'%}" />
		<link id="gridcss" rel="stylesheet" type="{% static 'Principal/css/all.min2.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/shieldui-all.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/js/gridData.js'%}"></script>
	{% endif %}
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GRCPR</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="/Principal/index.html"><i class="fa fa-bullseye"></i> Inicio</a></li>
                    <li><a href="/Principal/portfolio.html"><i class="fa fa-tasks"></i> Tutoriales</a></li>
					<li><a href="/Principal/profile.html"><i class="fa fa-tasks"></i> Perfil</a></li>
                    <li class="selected"><a href="/Principal/problemas.html"><i class="fa fa-globe"></i> Problemas</a></li>
                    <li><a href="/Principal/Recomendaciones.html"><i class="fa fa-list-ul"></i> Recomendaciones</a></li>         
                </ul>
               <ul class="nav navbar-nav navbar-right navbar-user">
					<li class="divider-vertical"></li>
					{% if data.Nickname != "Invitado" %}
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{data.Nickname}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="profile.html"><i class="fa fa-user"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="logout"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
					{% else %}
                    <li><a href="register.html"><i class="fa fa-user"></i> {{data.Nickname}}</a></li>
					{% endif %}
					{% if data.Nickname == "Invitado" %}
					<li class="divider-vertical"></li>
					<li><a href="register.html"><i class="fa fa-user"></i> Registrarse</a></li>
					<li class="divider-vertical"></li>
					<li><a href="signup.html"><i class="fa fa-user"></i> Login</a></li>
					{% endif %}
					<li class="divider-vertical"></li>
					 <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Fondo<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="/Principal/Blanco"><i class="fa fa-user"></i>Blanco</a></li>
                            <li><a href="/Principal/Negro"><i class="fa fa-user"></i>Negro</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

       <div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12 panel panel-primary">
					 <div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Buscador de problemas</h3>
                     </div>
					<div class="panel-body">
					<div class="col-md-12">
						<!--Formulario de Busqueda de Problemas-->
						<form  action="/Principal/Buscar" method="post">
							{% csrf_token %}
							
							<div class="row">
									<div class="col-md-1">
										<label for="Juez">Juez:</label>
									</div>
									<div class="col-md-2">
										<select style="color:black;" name="Juez" required> 
											<option value="Todos">Todos</option>
											{% for j in Jueces %}
												<option value="{{j.Nombre}}">{{j.Nombre}}</option>
											{% endfor %}
										</select>
									</div>
							</div>
							<br>
							<div class="row">
									<div class="col-md-1">
										<label for="Categoria">Categoria:</label>
									</div>
									<div class="col-md-2">
										<select style="color:black;" name="Categoria" required> 
											<option value="Todas">Todas</option>
											{% for c in Categorias %}
												<option value="{{c.Nombre}}">{{c.Nombre}}</option>
											{% endfor %}
										</select>
									</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-1">
									<label for="Dificultad_min">Dificultad Minima:</label>
								</div>
								<div class="col-md-2">
									<input style="color:black;" type="number" min="1" max="10" step="1" value="{{form.Dificultad_min.value}}" name="Dificultad_min" id="Dificultad_min" required>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-1">
									<label for="Dificultad_max">Dificultad Maxima:</label>
								</div>
								<div class="col-md-2">
									<input style="color:black;" type="number" min="1" max="10" step="1" value="{{form.Dificultad_max.value}}" name="Dificultad_max" id="Dificultad_max" required>
								</div>

							</div>
							<br>
							<div class="row">
								<div class="col-lg-12">
									<button type="submit" class="btn btn-info">
											Buscar Problemas
									</button>
								</div>
							</div>
							
						</form>
					</div>
					{% if Muestra == True %}
					<div class="row">
						<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12">
							<h3>Problemas Disponibles</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
							<label>Juez: {{Juez}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
							<label>Categoria: {{Categoria}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
							<table class="table table-condensed">
							{% for lista in Problemas %}
									<tr>
										{% for p in lista %}
											<td align="left" width="14%" class="text-left" title="{{p.Descripcion}}"><label> <a class="text-primary" href="{{p.URL}}" target="_blank" >{{ p.Juez_id.Prefijo }}-{{p.Nombre}}</a></label></td>
										{% endfor %}
									</tr>
							{% endfor %}
							</table>
							</div>
						</div>
						</div>
					</div>
					
					<div class="row">
					<div class="col-lg-1">
					<form  action="/Principal/Prim" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-info">
							<<
						</button>
					</form>
					</div>
					<div class="col-lg-1">
					<form  action="/Principal/Prev" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-info">
							<
						</button>
					</form>
					</div>
					{% for i in Paginas %}
					<div class="col-lg-1">
					<form  action="/Principal/{{i}}/Pagina" method="post">
						{% csrf_token %}
						{% if i == Actual %}
						<button type="submit" class="btn btn-info selected">
							{{i}}
						</button>
						{% else %}
						<button type="submit" class="btn btn-info">
							{{i}}
						</button>
						{% endif %}
					</form>
					</div>
					{% endfor %}
					<div class="col-lg-1">
					<form  action="/Principal/Next" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-info">
							>
						</button>
					</form>
					</div>
					<div class="col-lg-1">
					<form  action="/Principal/Ult" method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-info">
							>>
						</button>
					</form>
					</div>
					</div>
					{% endif %}
					</div>
				</div>
            </div>
        </div>
    </div>

</body>
</html>
