
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
	
	{% if data.Color == "Blanco" %}

		<link href="{% static 'Principal/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/sb-admin.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/plugins/morris.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'Principal/js/jquery.js' %}"></script>
		<script src="{% static 'Principal/js/bootstrap.min.js' %}"></script>
	
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/local.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/jquery-1.10.2.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/bootstrap/js/bootstrap.min.js'%}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/all.min.css'%}" />
		<link id="gridcss" rel="stylesheet" type="{% static 'Principal/css/all.min2.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/shieldui-all.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/js/gridData.js'%}"></script>
	{% endif %}
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GRCPR</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="index.html"><i class="fa fa-bullseye"></i> Inicio</a></li>
                    <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Tutoriales</a></li>
					<li class="selected"><a href="profile.html"><i class="fa fa-tasks"></i> Perfil</a></li>
                    <li><a href="problemas.html"><i class="fa fa-globe"></i> Problemas</a></li>
                    <li><a href="Recomendaciones.html"><i class="fa fa-list-ul"></i> Recomendaciones</a></li>      
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
					<li class="divider-vertical"></li>
					{% if data.Nickname != "Invitado" %}
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{data.Nickname}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="profile.html"><i class="fa fa-user"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="logout"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
					{% else %}
                    <li><a href="register.html"><i class="fa fa-user"></i> {{data.Nickname}}</a></li>
					{% endif %}
					{% if data.Nickname == "Invitado" %}
					<li class="divider-vertical"></li>
					<li><a href="register.html"><i class="fa fa-user"></i> Registrarse</a></li>
					<li class="divider-vertical"></li>
					<li><a href="signup.html"><i class="fa fa-user"></i> Login</a></li>
					{% endif %}
					<li class="divider-vertical"></li>
					 <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Fondo<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="/Principal/Blanco"><i class="fa fa-user"></i>Blanco</a></li>
                            <li><a href="/Principal/Negro"><i class="fa fa-user"></i>Negro</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

       <div id="page-wrapper">
			<div class="row">	
			
				<div class="col-lg-6 panel panel-primary">
					 <div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Datos</h3>
                     </div>
					<div class="panel-body">
					<div class="row">
						<label class="col-lg-2">Nombre:</label>
						<p class="col-lg-4">{{data.Nombre}}</p>
					</div>
					<br>
					<div class="row">
						<label class="col-lg-2">Apellido:</label>
						<p class="col-lg-1">{{data.Apellido}}</p>
					</div>
					<br>
					<div class="row">
						<label class="col-lg-2">Username:</label>
						<p class="col-lg-4">{{data.Nickname}}</p>
					</div>
					<br>
					<div class="row">
						<label class="col-lg-2">Correo:</label>
						<p class="col-lg-4">{{data.Correo}}</p>
					</div>
					<br>
					<div class="row">
						<label class="col-lg-2">Pais:</label>
						<p class="col-lg-4">{{data.Pais}}</p>
					</div>
					</div>
				</div>
				<div class="col-lg-6 panel panel-primary">
						<div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>Cuentas</h3>
                        </div>
						<div class="col-lg-9 panel-body">
						<form  action="/Principal/acounts" method="post">
						{% csrf_token %}
						<div class="row">
							<label for="Uva_cuenta" class="col-md-3">
								Uva:
							</label>
							<div class="col-md-6">
								<input style="color:black;" type="text" value="{{form.Uva_cuenta.value}}" class="form-control" name="Uva_cuenta" id="Uva_cuenta" placeholder="Enter Uva User"> {{data_cuenta.Uva_cuenta}} </input>
							</div>
						</div> 
						
						<div class="row">
							<label for="Spoj_cuenta" class="col-md-3">
								Spoj:
							</label>
							<div class="col-md-6">
								<input style="color:black;" type="text" value="{{form.Spoj_cuenta.value}}" class="form-control" name="Spoj_cuenta" id="Spoj_cuenta" placeholder="Enter Spoj User">
							</div>
						</div> 
						
						<div class="row">
							<label for="Codeforces_cuenta" class="col-md-3">
								Codeforces:
							</label>
							<div class="col-md-6">
								<input style="color:black;" type="text" value="{{form.Codeforces_cuenta.value}}" class="form-control" name="Codeforces_cuenta" id="Codeforces_cuenta" placeholder="Enter Codeforces User">
							</div>
						</div>
						
						<div class="row">
							<label for="Coj_cuenta" class="col-md-3">
								Coj:
							</label>
							<div class="col-md-6">
								<input style="color:black;" type="text" value="{{form.Coj_cuenta.value}}" class="form-control" name="Coj_cuenta" id="Coj_cuenta" placeholder="Enter Coj User">
							</div>
						</div>  
						<br>
						<br>
						<br>
						<div class="row">
							<div class="col-md-5">
							</div>
							<div class="col-md-7">
								<button type="submit" class="btn btn-info">
									Actualizar Cuentas
								</button>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 panel panel-primary">
					
						
						<div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Habilidad del Usuario</h3>
                         </div>
						 <div class="panel-body">
						<h4>Nivel general:
							<label>{{Habilidades.General}}</label>
						</h4>
							<table class="table">
							{% for lista in Habilidades.por_categorias %}
								<tr>
									{% for p in lista %}
								
									<div class="col-lg-4">
										<td><label>{{ p.Categoria_id.Nombre }}: </label></td>
										<td><label>{{ p.Nivel }}</label></td>
									</div>
								
									{% endfor %}
								</tr>
							{% endfor %}
							
							</table>
					
					
					</div>
					<!--
					<div class="row">
						<form  action="/Principal/update_habilidad" method="post">
							{% csrf_token %}
							<div class="col-lg-4">
								<button type="submit" class="btn btn-info">
										Calcular el Nivel de Habilidad
								</button>
							</div>
						</form>
					</div>
					-->
				</div>
			</div>
			
			<div class="row">

				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12">
							<h3>Problemas Resueltos
							<label>{{Total}} </label>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table class="table table-condensed">
							{% for lista in problemas %}
								<tr>
									{%for p in lista %}
										<td align="left" width="14%" class="text-left"><label style="color:black;" class="text-left" title="{{p.Problema_id.Descripcion}}"> <a target="_blank" href="{{p.Problema_id.URL}}">{{ p.Problema_id.Juez_id.Prefijo }}-{{p.Problema_id.Nombre}}</a></label><td>
									{% endfor %}
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
					<div class="row">
						<form  action="/Principal/update" method="post">
							{% csrf_token %}
							<div class="col-lg-4">
								<button type="submit" class="btn btn-info">
										Actualizar Problemas
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">

				<div class="col-lg-12">
					    
					<div class="row">
						<div class="col-lg-12">
						<h3>Problemas que no has clasificado</h3>
						<h5>De click a un problema para clasificarlo</h5>
						</div>
					</div>
					<A name="Clasi"></A>
					<div class="row">
						<div class="col-lg-12">
							<table class="table table-condensed">
							{% for lista in noclasi %}
								<tr>
									{%for p in lista %}
										<td align="left" width="14%" class="text-left"><label class="col-lg-1 text-center text-primary" title="{{p.Problema_id.Descripcion}}"> <a target="_blank" class="text-primary" href="{{p.Problema_id.pk}}/Clasificacion.html">{{ p.Problema_id.Juez_id.Prefijo }}-{{p.Problema_id.Nombre}}</a></label></td>
									{% endfor %}
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">

				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12">
						<h3>Problemas Recomendados</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table class="table table-condensed">
							{% for lista in recomendados %}
								<tr>
									{%for p in lista %}
										<td align="left" width="14%" class="text-left"><label class="text-left" title="{{p.Problema_id.Descripcion}}"> <a target="_blank" class="text-primary" href="{{p.Problema_id.URL}}">{{ p.Problema_id.Juez_id.Prefijo }}-{{p.Problema_id.Nombre}}</a></label><td>
									{% endfor %}
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12">
					<form  action="/Principal/recomendar" method="post">
						{% csrf_token %}
						<div class="col-lg-4">
							<button type="submit" class="btn btn-info">
									Recomendar
							</button>
						</div>
					</form>
					</div>
				</div>
			</div>
            
        </div>
    </div>

</body>
</html>
