
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
	{% if data.Color == "Blanco" %}

		<link href="{% static 'Principal/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/sb-admin.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/plugins/morris.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'Principal/js/jquery.js' %}"></script>
		<script src="{% static 'Principal/js/bootstrap.min.js' %}"></script>
	
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/local.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/jquery-1.10.2.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/bootstrap/js/bootstrap.min.js'%}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/all.min.css'%}" />
		<link id="gridcss" rel="stylesheet" type="{% static 'Principal/css/all.min2.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/shieldui-all.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/js/gridData.js'%}"></script>
	{% endif %}
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GRCPR</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="index.html"><i class="fa fa-bullseye"></i> Inicio</a></li>
                    <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Tutoriales</a></li>
					<li><a href="profile.html"><i class="fa fa-tasks"></i> Perfil</a></li>
                    <li><a href="problemas.html"><i class="fa fa-globe"></i> Problemas</a></li>
                    <li class="selected"><a href="Recomendaciones.html"><i class="fa fa-list-ul"></i> Recomendaciones</a></li>    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
					<li class="divider-vertical"></li>
					{% if data.Nickname != "Invitado" %}
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{data.Nickname}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="profile.html"><i class="fa fa-user"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="logout"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
					{% else %}
                    <li><a href="register.html"><i class="fa fa-user"></i> {{data.Nickname}}</a></li>
					{% endif %}
					{% if data.Nickname == "Invitado" %}
					<li class="divider-vertical"></li>
					<li><a href="register.html"><i class="fa fa-user"></i> Registrarse</a></li>
					<li class="divider-vertical"></li>
					<li><a href="signup.html"><i class="fa fa-user"></i> Login</a></li>
					{% endif %}
					<li class="divider-vertical"></li>
					 <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Fondo<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="/Principal/Blanco"><i class="fa fa-user"></i>Blanco</a></li>
                            <li><a href="/Principal/Negro"><i class="fa fa-user"></i>Negro</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>


            <div id="page-wrapper">
				<div class="row">
				<div class="col-lg-12">
				<!--Recomendaciones Basadas en contenido-->
				<div class="row">
					<div class="col-lg-8 panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Recomendaciones basadas en contenido</h3>
                     </div>
					<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form  action="/Principal/Contenido" method="post">
									{% csrf_token %}
									
									<div class="row">
											<div class="col-md-4">
												<label for="Categoria">Categoria:</label>
												<select style="color:black;" name="Categoria" required> 
													<option value="Cualquiera">Cualquiera</option>
													<option value="Mejor">Mejor Habilidad</option>
													<option value="Peor">Peor Habilidad</option>
													{% for c in Categorias %}
														<option value="{{c.Nombre}}">{{c.Nombre}}</option>
													{% endfor %}
												</select>
											</div>
											
									</div>
									<br>
									<div class="row">
										<div class="col-md-6 text-center">
										<button type="submit" class="btn btn-info">
											Recomendar
										</button>
										</div>
									</div>
								</form>
								<div class="col-lg-12">
									<div class="row">
									<h4>Problemas Disponibles</h4>
									<label>{{Nombre_Categ}}</label>
									<!--<label>{{Tiempo}}</label>-->
									</div>
									<div class="row">
										{% if Cantidad_P == 0 %}
											<label> No hay problemas de esta Categoria Para tu Nivel </label>
										{% endif %}
										{% for p in Problemas1 %}
											<label class="col-lg-2 text-center" title="{{p.Descripcion}}"> <a target="_blank" href="{{p.URL}}">{{ p.Juez_id.Prefijo }}-{{p.Nombre}}</a></label>
										{% endfor %}
									</div>
								</div>
							</div>
					</div>
					</div>
					</div>
				</div>
				<a href="index.html#Rec">Ayuda</a>
				<hr/>
				<div class="row">
				<div class="col-lg-8 panel panel-primary">
				<!--Colaborativo-->
				
				<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Recomendaciones colaborativas</h3>
                </div>
				
				<div class="panel-body">
				<div class="row">
						<div class="col-lg-12">
							<form  action="/Principal/Colaborativo" method="post">
									{% csrf_token %}
									
									<div class="row">
										<!--Por sia caso
											<div class="col-md-4">
												<label for="Categoria">Categoria:</label>
												<select name="Categoria" required> 
													<option value="Cualquiera">Cualquiera</option>
													{% for c in Categorias %}
														<option value="{{c.Nombre}}">{{c.Nombre}}</option>
													{% endfor %}
												</select>
											</div>
										-->
											<div class="col-md-3">
												<label for="Metodo">Metodo:</label>
												<select style="color:black;" name="Metodo" required> 
													<option value="Coseno">D.Coseno</option>
													<option value="Hamming">D.Hamming</option>
													<option value="Euclidana">D.Euclidiana</option>
													<option value="BrayCurtis">D.BrayCurtis</option>
													<option value="Recomendado">Recomendado</option>
												</select>
											</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-6 text-center">
										<button type="submit" class="btn btn-info">
											Recomendar
										</button>
										</div>
									</div>
									
								</form>
								<div class="col-lg-12">
									<div class="row">
									<h4>Problemas Disponibles</h4>
									<label>{{Nombre_Metodo }}</label>
									<!--<label>{{Tiempo}}</label>-->
									</div>
									<div class="row">
										{% for p in Problemas2 %}
											<label class="col-lg-2 text-center" title="{{p.Descripcion}}"><a target="_blank" href="{{p.URL}}">{{ p.Juez_id.Prefijo }}-{{p.Nombre}}</a></label>
										{% endfor %}
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="row">
									<h4>Usuarios mas Parecidos</h4>
									</div>
									<div class="row">
										{% for U in Usuarios %}
											<label> {{ U.Nickname }}</label>
										{% endfor %}
									</div>
									<!--
									<div class="row">
										{% for V in Valores %}
											<label> {{ V }}</label>
										{% endfor %}
									</div>
									-->
								</div>
								
							</div>
					</div>
					</div>
				</div>
				</div>
				<a href="index.html#Rec">Ayuda</a>
				<hr/>
				<div class="row">
				<div class="col-lg-8 panel panel-primary">
				<!--APRIORI-->
				
				<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Algoritmo Apriori</h3>
                </div>
				
				<div class="panel-body">
				<div class="row">
						<div class="col-lg-12">
							<form  action="/Principal/Apriori" method="post">
									{% csrf_token %}
									
									<div class="row">
										<div class="col-md-2">
											<label for="min_support">Soporte:</label>
										</div>
										<div class="col-md-3">
											<input style="color:black;" type="number" min="0.5" max="1" step="0.01" value="{{form.min_support.value}}" class="form-control" name="min_support" id="min_support" placeholder="Soporte" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
											<label for="min_confidence">Confianza:</label>
										</div>
										<div class="col-md-3">
											<input style="color:black;" type="number" min="0.5" max="1" step="0.01" value="{{form.min_confidence.value}}" class="form-control" name="min_confidence" id="min_confidence" placeholder="Confianza" required>
										</div>
									</div>
									<br>
									<div class="row">
										
										<div class="col-md-6 text-center">
										<button type="submit" class="btn btn-info">
											Recomendar
										</button>
										</div>
									</div>
									
								</form>
								<div class="col-lg-12">
									<div class="row">
									<h4>Problemas Disponibles</h4>
									<label>Apriori</label>
									<!--<label>{{Tiempo}}</label>-->
									</div>
									<div class="row">
										{% if Cantidad_Pri == 0 %}
											<label> No hay problemas de esta Categoria Para tu Nivel </label>
										{% endif %}
										{% for p in Problemas3 %}
											<label class="col-lg-2 text-center" title="{{p.Descripcion}}"> <a target="_blank" href="{{p.URL}}">{{ p.Juez_id.Prefijo }}-{{p.Nombre}}</a></label>
										{% endfor %}
									</div>
								</div>
							</div>
					</div>
					</div>
				
				
				
			</div>
				
		</div>	
		<a href="index.html#Rec">Ayuda</a>
		</div>	
		</div>
    </div>
	</div>
</body>
</html>
