
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
	{% if data.Color == "Blanco" %}

		<link href="{% static 'Principal/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/sb-admin.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/css/plugins/morris.css' %}" rel="stylesheet">
		<link href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'Principal/js/jquery.js' %}"></script>
		<script src="{% static 'Principal/js/bootstrap.min.js' %}"></script>
	
	{% else %}
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/local.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/jquery-1.10.2.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/bootstrap/js/bootstrap.min.js'%}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'Principal/css/all.min.css'%}" />
		<link id="gridcss" rel="stylesheet" type="{% static 'Principal/css/all.min2.css'%}" />
		<script type="text/javascript" src="{% static 'Principal/js/shieldui-all.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'Principal/js/gridData.js'%}"></script>
	{% endif %}
	<meta name="google-signin-client_id" content="211954133717-tpoadiki7f44fv90k1iijpl3qte308n5.apps.googleusercontent.com"></meta>
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GRCPR</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="index.html"><i class="fa fa-bullseye"></i> Inicio</a></li>
                    <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Tutoriales</a></li>
					<li><a href="profile.html"><i class="fa fa-tasks"></i> Perfil</a></li>
                    <li><a href="problemas.html"><i class="fa fa-globe"></i> Problemas</a></li>
                    <li class="selected"><a href="signup.html"><i class="fa fa-list-ol"></i> Login</a></li>
                    <li><a href="Recomendaciones.html"><i class="fa fa-list-ul"></i> Recomendaciones</a></li>        
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
					<li class="divider-vertical"></li>
					{% if data.Nickname != "Invitado" %}
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{data.Nickname}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="profile.html"><i class="fa fa-user"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="logout"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
					{% else %}
                    <li><a href="register.html"><i class="fa fa-user"></i> {{data.Nickname}}</a></li>
					{% endif %}
					{% if data.Nickname == "Invitado" %}
					<li class="divider-vertical"></li>
					<li><a href="register.html"><i class="fa fa-user"></i> Registrarse</a></li>
					<li class="divider-vertical"></li>
					<li><a href="signup.html"><i class="fa fa-user"></i> Login</a></li>
					{% endif %}
					<li class="divider-vertical"></li>
					 <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Fondo<b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="/Principal/Blanco"><i class="fa fa-user"></i>Blanco</a></li>
                            <li><a href="/Principal/Negro"><i class="fa fa-user"></i>Negro</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="row">

                <div class="col-lg-11 text-center v-center">

                    <h1>Log in</h1>
                    <p class="lead">Introduce tu usuario y contraseña</p>

                    <br>
                    <br>
                    <br>
                </div>
			</div>
			 <div class="row">
				<div class="col-lg-11 text-center v-center" >
				                    <form class="col-lg-11 text-center v-center" action="/Principal/signup.html" method="post">
						{% csrf_token %}
						<div class="col-md-5 text-center">
							<div class="form-group input-group">
								<span class="input-group-addon"></span>
								<input style="color:black; "type="text" name="Nombre" value="{{form.Nombre.value}}" class="form-control" placeholder="Username">
							</div>

							<div class="form-group input-group">
								<span class="input-group-addon"></span>
								<input style="color:black;" type="password" name="Password" value="{{form.Password.value}}" class="form-control" placeholder="Password">
							</div>
							
							<div class="row">
								<div class="col-lg-12">
								<div class="col-lg-3">
									<button type="submit" class="btn btn-info">
										Login
									</button>
								</div>
								<div class="col-lg-1">
									<h4>o</h4>
								</div>
								<div id="gConnect" class="col-lg-2">
									<div id="signin-button">
									</div>
								</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
								<div class="fb-login-button col-lg-4" scope="public_profile,email" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState();"></div>
								</div>
							</div>
						</div>
                    </form>
					</div>
            </div>
					<!--Aqui empieza-->
  <div id="authOps" style="display:none">
    <h2>User is now signed in to the app using Google+</h2>
    <button id="signOut" onclick="auth2.signOut()" class="btn btn-info">Sign Out</button>
    <p>If the user chooses to disconnect, the app must delete all stored
    information retrieved from Google for the given user.</p>
    <button id="disconnect" class="btn btn-info">Disconnect your Google account from this app</button>

    <h2>User's profile information</h2>
	<form class="col-lg-12" action="/Principal/GoogleLogin" method="post" name="FormGoogle">
		{% csrf_token %}
		<div id="profile">
		</div>
		<button type="submit" class="btn btn-info" id="Botongoogle" name="Botongoogle"> Google Register</button>
	</form>
	
    <h2>User's friends that are visible to this app</h2>
    <div id="visiblePeople"></div>

    <h2>Authentication Logs</h2>
    <pre id="authResult"></pre>
  </div>
  <div style="display:none">
  <form class="col-lg-12" action="/Principal/FacebookLogin" method="post" name="FormFacebook">
		{% csrf_token %}
		<div id="profileface">
		</div>
		<button type="submit" class="btn btn-info" id="Botonface" name="Botonface"> Facebook Register</button>
	</form>
</div>


<script type="text/javascript">
var auth2 = {};
var helper = (function() {
  return {
    /**
     * Hides the sign in button and starts the post-authorization operations.
     *
     * @param {Object} authResult An Object which contains the access token and
     *   other authentication information.
     */
    onSignInCallback: function(authResult) {
      $('#authResult').html('Auth Result:<br/>');
      for (var field in authResult) {
        $('#authResult').append(' ' + field + ': ' +
            authResult[field] + '<br/>');
      }
      if (authResult.isSignedIn.get()) {
        $('#gConnect').hide();
        helper.profile();
		helper.disconnect()
      } else {
          if (authResult['error'] || authResult.currentUser.get().getAuthResponse() == null) {
            // There was an error, which means the user is not signed in.
            // As an example, you can handle by writing to the console:
            console.log('There was an error: ' + authResult['error']);
          }
          $('#authResult').append('Logged out');
          $('#authOps').hide('slow');
          $('#gConnect').show();
      }

      console.log('authResult', authResult);
    },
	
	enviar_formulario: function (){
		var input1 = document.createElement( "input" );
		// Le añadimos atributos como el name, type y el value
		input1.setAttribute( "name", "Nombre" );
		input1.setAttribute( "type", "text" );
		input1.setAttribute( "value", profile.displayName );
		document.FormGoogle.appendChild( input1 );
		var input2 = document.createElement( "input" );
		// Le añadimos atributos como el name, type y el value
		input2.setAttribute( "name", "Correo" );
		input2.setAttribute( "type", "email" );
		input2.setAttribute( "value", profile.emails[0].value );
		document.FormGoogle.appendChild( input2 );
		document.FormGoogle.submit();
	}, 

    /**
     * Calls the OAuth2 endpoint to disconnect the app for the user.
     */
    disconnect: function() {
      // Revoke the access token.
      auth2.disconnect();
    },

    /**
     * Gets and renders the list of people visible to this app.
     */
    people: function() {
      gapi.client.plus.people.list({
        'userId': 'me',
        'collection': 'visible'
      }).then(function(res) {
        var people = res.result;
        $('#visiblePeople').empty();
        $('#visiblePeople').append('Number of people visible to this app: ' +
            people.totalItems + '<br/>');
        for (var personIndex in people.items) {
          person = people.items[personIndex];
          $('#visiblePeople').append('<img src="' + person.image.url + '">');
        }
      });
    },

    /**
     * Gets and renders the currently signed in user's profile data.
     */
    profile: function(){
      gapi.client.plus.people.get({
        'userId': 'me'
      }).then(function(res) {
        var profile = res.result;
        console.log(profile);
		var input1 = document.createElement( "input" );
		// Le añadimos atributos como el name, type y el value
		input1.setAttribute( "name", "Nombre" );
		input1.setAttribute( "type", "text" );
		input1.setAttribute( "value", profile.displayName );
		document.FormGoogle.appendChild( input1 );
		var input2 = document.createElement( "input" );
		// Le añadimos atributos como el name, type y el value
		input2.setAttribute( "name", "Correo" );
		input2.setAttribute( "type", "email" );
		input2.setAttribute( "value", profile.emails[0].value );
		document.FormGoogle.appendChild( input2 );
		document.FormGoogle.submit();
        $('#profile').empty();
      }, function(err) {
        var error = err.result;
        $('#profile').empty();
        $('#profile').append(error.message);
      });
    }
  };
})();

/**
 * jQuery initialization
 */
$(document).ready(function() {
  $('#disconnect').click(helper.disconnect);
  $('#loaderror').hide();
  if ($('meta')[0].content == 'YOUR_CLIENT_ID') {
    alert('This sample requires your OAuth credentials (client ID) ' +
        'from the Google APIs console:\n' +
        '    https://code.google.com/apis/console/#:access\n\n' +
        'Find and replace YOUR_CLIENT_ID with your client ID.'
    );
  }
});

/**
 * Handler for when the sign-in state changes.
 *
 * @param {boolean} isSignedIn The new signed in state.
 */
var updateSignIn = function() {
  console.log('update sign in state');
  if (auth2.isSignedIn.get()) {
    console.log('signed in');
    helper.onSignInCallback(gapi.auth2.getAuthInstance());
  }else{
    console.log('signed out');
    helper.onSignInCallback(gapi.auth2.getAuthInstance());
  }
}

/**
 * This method sets up the sign-in listener after the client library loads.
 */
function startApp() {
  gapi.load('auth2', function() {
    gapi.client.load('plus','v1').then(function() {
      gapi.signin2.render('signin-button', {
          scope: 'https://www.googleapis.com/auth/userinfo.email',
          fetch_basic_profile: false });
      gapi.auth2.init({fetch_basic_profile: false,
          scope:'https://www.googleapis.com/auth/userinfo.email'}).then(
            function (){
              console.log('init');
              auth2 = gapi.auth2.getAuthInstance();
              auth2.isSignedIn.listen(updateSignIn);
              auth2.then(updateSignIn);
            });
    });
  });
}
</script>
<script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>


<!-- FACEBOOK -->
<script>
	function enviar_formulario(Nombre,Correo){
		var input1 = document.createElement( "input" );
		// Le añadimos atributos como el name, type y el value
		input1.setAttribute( "name", "Nombre" );
		input1.setAttribute( "type", "text" );
		input1.setAttribute( "value", Nombre);
		document.FormFacebook.appendChild( input1 );
		var input2 = document.createElement( "input" );
		// Le añadimos atributos como el name, type y el value
		input2.setAttribute( "name", "Correo" );
		input2.setAttribute( "type", "email" );
		input2.setAttribute( "value", Correo );
		document.FormFacebook.appendChild( input2 );
		document.FormFacebook.submit();
	} 


  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      // Logged into your app and Facebook
	 
      testAPI();
    } else {

    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
	console.log('VERGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA');
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '652944994889744',
    cookie     : false,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.9' // use graph api version 2.8
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=652944994889744";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {

		FB.api('/me',{fields: 'name,email'} ,function(response) {
		console.log(JSON.stringify(response));
		console.log('Successful login for: ' + response.name + " " + response.email );
		enviar_formulario(response.name,response.email);
		});
	}

     

	
  
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->









		<!--Aqui termina boton-->

        </div>
        <!-- /#page-wrapper -->
    </div>    
</body>
</html>
